@{
    ViewData["Title"] = "Home Page";
    
}
<h1 class="text-center">Problem == Ticket :)</h1>
<div class="container">
    <div class="row align-items-center justify-content-around my-5">
        <div class="col">
            <h1>Advanced Ticketing System for Exceptional Customer Support</h1>
            <p>A ticketing system can help improve your customer service by providing a centralized, organized, and efficient way to handle customer requests. It streamlines the process of assisting your customers by categorizing and prioritizing their requests, assigning them to the appropriate team members, and providing automated responses and workflows.</p>
        </div>
        <div class="col-4">
            <img src="~/images/cs.png"  class="float-end h-75 w-75" alt="...">
        </div>
    </div>
    <div class="row align-items-center justify-content-around">
        
        <div class="col-4">
            <img src="~/images/ticket.png"  class="float-start h-75 w-75" alt="...">
        </div>
        <div class="col">
            <h1> A Simple and Straightforward Process</h1>
            <p>Creating a ticket in a ticketing system is easy and straightforward, as it typically involves filling out a simple form with the necessary information, such as a brief description of the issue and contact details, and then submitting it for review and resolution.</p>
        </div>
    </div>
    <div class="row align-items-center justify-content-around my-5">
        <div class="col">
            <h1>Elevate your Customer Support with the Power of Chat Integration in our Ticketing System</h1>
            <p>With the integrated chat feature in our ticketing system, customers can quickly and easily get the support they need, allowing for faster resolution times and an enhanced overall customer experience</p>
        </div>
        <div class="col-4">
            <img src="~/images/chat.png"  class="float-end h-75 w-75" alt="...">
        </div>
    </div>
</div>

